DJANGO_SECRET_KEY=ubah-kunci-rahsia
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=
DATABASE_URL=sqlite:///db.sqlite3

SCHOOL_NAME=SK Ulu Ansuan
SCHOOL_LATITUDE=5.745697
SCHOOL_LONGITUDE=117.173844
SCHOOL_RADIUS_METERS=50

ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin@2026!
ADMIN_EMAIL=admin@example.com

TEACHER_USERNAME=guru
TEACHER_PASSWORD=Guru@2026!
TEACHER_EMAIL=guru@example.com
